# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
.venv/
venv/
env/

# Django
backend/db.sqlite3
backend/.env
backend/staticfiles/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/*
!.vscode/settings.json
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
